@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

li,
h1,
h3,
footer {
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
    color: white;
    margin: auto;

}

header p {
    font-size: 2.25em;
    color: white;
}

h2 {
    font-size: 2em;
    margin: 2em auto;
}

h3 {
    font-size: 1.25em;
}

p {
    font-size: 1em;
    ;
}

/*NAVIGATION*/

ul {
    list-style: none;
    margin: 1.5em 6.25em;
}

.logo {
    margin: 0 6.25em;
}

li {
    font-size: 1.25em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

nav {
    background-color: #121011;
    opacity: 60%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    display: none;
}

.sub {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.sub:hover {
    display: flex;
}

/*FINE NAVIGATION*/

main {
    margin: auto 6.25em;
}

/*BG-IMG*/
header {
    height: 470px;
}

.index {
    background-image: url("img/main-index.jpg");
    background-position: center;
    ;
}

.vintage {
    background-image: url("img/main-vintage.jpg");
}

.clienti {
    background-image: url("img/main-clienti.jpg");
}

.perchè {
    background-image: url("img/main-perchè.jpg");
}

/*FINE BG-IMG*/

.header {
    margin: 6.25em;
}

.icon {
    display: block;
    margin: 0 auto;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}



.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap:1.5rem;
}
.container img{
    width: 30rem;;
}

.card {
    width: 30%;
    background-color: lightgrey;
    padding: 1.5em;
}

.card h3 {
    margin-bottom: 1em;
}

.reverse {
    flex-direction: row-reverse;
}

.container img {
    margin-bottom: 4em;
}



.text h3 {
    margin-bottom: 1em;
}

/*FOOTER*/

footer {
    clear: both;
    margin-top: 2em;
    background-color: #121011;
    color: white;
    padding: 2em 6.25em;
}

footer img {
    margin: 1.5em 1.25em 0 0;
}

/*FINE FOOTER*/

/*MEDIA QUERY*/
@media only screen and (max-width: 1000px) {

    .index,
    .vintage,
    .clienti,
    .perchè {
        background-position: center;
    }

    /*hamburger menu*/
    nav {
        padding: 0.5rem;
        width: 100%;
        opacity: 100%;
        height: 5.5rem;
    }

    .hamburger{
        display: inline;
        margin: 0 2rem;
    }

    .logo{
        margin: 0 2rem;
    }

    ul {
        padding: 20px;
        background-color: white;
    }

    a {
        color: black;
        text-decoration: none;
        padding: 10px;
    }

    a:hover {
        padding: 10px;
    }

    li {
        display: inline;
        margin-right: 20px;
    }

    .parent {
        position: relative;
        float: right;
    }

    .sub {
        position: absolute;
        top: 40px;
        left: -150px;
        display: none;
    }

    .sub a {
        display: block;
    }

    .sub a:hover {
        background-color: black;
        color: white;
        padding: 10px;
    }



    .hamburger:hover~.sub,
    .sub:hover {
        display: block;
    }

    .hamburger {
        font-size: 4rem;
        color: white;
    }

    /*hamburger menu*/


    .header h1,
    .header p,
    h2,
    .card h3,
    .card p {
        text-align: center;
    }

    .header p {
        font-size: 1.5rem;
    }

    main{
        margin: 0 2rem;
    }

    .container img {
        width: 100%;
        margin: 0 auto;
    }

    .container, .cards {
        display: block;
    }

    .card {
        width: 100%;
        margin-bottom: 1rem;
    }

    .card img {
        width: 8rem;
    }

    .container {
        margin-bottom: 5rem;
    }

    .text {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {

    .logo,
    .header {
        margin: 0 0.5rem;
    }

    
    .index,
    .vintage,
    .clienti,
    .perchè {
        background-repeat: no-repeat;
    }

    .header h1{
        font-size: 2.5rem;
        margin-top: 5rem;
    }

    header {
        height: 60vh;
    }

    main {
        margin: 1rem 1rem 0 1rem;

    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-weight: 400;
    }

    footer {
        text-align: center;
    }


}